/* 
 1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
      2. Remove default margin
    */
* {
  margin: 0;

  /* Primary */
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  /* Neutral */
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

/*
      Typographic tweaks!
      3. Add accessible line-height
      4. Improve text rendering
    */
body {
  line-height: 1.7;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--Cream);
  color: var(--Dark-grayish-blue);
  font-size: 0.88rem;
  font-weight: 500;
  text-align: left;
  height: 100%;
  overflow-x: hidden;
}

/*
      5. Improve media defaults
    */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
      6. Remove built-in form typography styles
    */
input,
button,
textarea,
select {
  font: inherit;
}

/*
      7. Avoid text overflows
    */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
      8. Create a root stacking context
    */
#root,
#__next {
  isolation: isolate;
}

main {
  margin: 2rem 1rem;
}

article {
  background-color: var(--White);
  padding: 2rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: var(--Very-dark-blue);
}

.category {
  letter-spacing: 5px;
  text-transform: uppercase;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.promo {
  color: var(--Dark-cyan);
  font-size: 2rem;
  font-weight: 700;
  font-family: "Fraunces", serif;
}

.strike-through {
  position: relative;
}

.strike-through::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--Dark-grayish-blue);
  z-index: 1;
  transform: translateY(-50%);
}

button {
  background-color: var(--Dark-cyan);
  color: var(--White);
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  gap: 1rem;
  width: 100%;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop view */
@media (min-width: 45rem) {
  .responsive-img {
    content: url("images/image-product-desktop.jpg"); 
    border-radius: 1rem 0 0 1rem;
    display: block;
    max-width: 100%;
    height: auto;
    width: 50%;
  }

  section {
    display: flex;
    margin: 5rem auto;
    padding: 1.25rem;
    flex-direction: row;
    max-width: 40rem;
  }

  article {
    border-radius: 0 1rem 1rem 0;
    width: 50%;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.88rem;
  }
}

/* Mobile view */
@media (max-width: 45rem) {
  .responsive-img {
    content: url("images/image-product-mobile.jpg"); 
    border-radius: 1rem 1rem 0 0;
  }

  article {
    border-radius: 0 0 1rem 1rem;
    padding: 1.5rem;
  }
}
